@import "~config/styles.scss";

:local(.component) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  @include mobile() {
    margin-bottom: 0px;
  }
  nav {
    display: inline-block;
    height: 25px;
    width: 1200px;
    text-align: center;    
  }
}
