@import "~config/styles.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $light_grey;
  overflow-x: hidden;
  & > * {
    background-color: white;
  }

  a {
    color: black;
    text-decoration: none;
  }

  ::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }
}
